In [ ]:
import requests
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from langchain.llms.base import LLM

class OllamaLLM(LLM):
    def __init__(self, api_url: str):
        super().__init__()
        self.api_url = api_url

    def _call(self, prompt: str, stop=None):
        # Send a request to the Ollama API
        response = requests.post(
            self.api_url,
            json={"prompt": prompt},
        )
        response.raise_for_status()
        return response.json()["response"]

    @property
    def _llm_type(self):
        return "ollama"

# Replace with your local Ollama endpoint
ollama_api_url = "http://localhost:11434/api/v1/completions"  # Example endpoint

# Initialize your custom Ollama LLM
llm = OllamaLLM(api_url=ollama_api_url)

# Define the prompt template
prompt_template = PromptTemplate(
    input_variables=["book"],
    template="Name the author of the book {book}?",
)

# Create the chain
chain = LLMChain(llm=llm, prompt=prompt_template, verbose=True)

# Run the chain
print(chain.run("The Da Vinci Code"))

In [ ]:
ValueError: "OllamaLLM" object has no field "api_url"

In [ ]:
from langchain_ollama import OllamaLLM

llm = OllamaLLM(model="llama3.1")
response = llm.invoke("The first man on the moon was ...")
print(response)

In [ ]:
pip install -v langchain_ollama

In [ ]:
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from langchain_ollama import OllamaLLM

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.3")  # Replace with your Ollama model name

# Define a prompt template
prompt_template = PromptTemplate(
    input_variables=["topic"],
    template="Explain the topic: {topic}",
)

# Create a chain with the LLM and prompt
chain = LLMChain(llm=llm, prompt=prompt_template, verbose=True)

# Run the chain
response = chain.run("Artificial Intelligence")
print(response)

In [ ]:
from langchain_ollama import OllamaLLM

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.1")  # Replace with your Ollama model name

print("Chat with Ollama! Type 'exit' to end the chat.\n")

# Start the chat loop
while True:
    user_input = input("You: ")
    
    if user_input.lower() == "exit":
        print("Ending the chat. Goodbye!")
        break

    # Generate a response from the model
    try:
        response = llm.invoke(user_input)
        print(f"Ollama: {response}")
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
import sqlite3

# Connect to SQLite database (creates it if it doesn't exist)
conn = sqlite3.connect("my_database.db")
cursor = conn.cursor()

# Create the employee table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    position TEXT NOT NULL,
    department TEXT NOT NULL,
    salary REAL NOT NULL,
    join_date TEXT NOT NULL
);
""")

# Insert sample data into the employee table
sample_data = [
    (1, "Alice Johnson", "Software Engineer", "IT", 80000, "2021-06-15"),
    (2, "Bob Smith", "Data Analyst", "IT", 70000, "2019-08-10"),
    (3, "Catherine Lee", "HR Manager", "HR", 90000, "2018-03-20"),
    (4, "David Brown", "Marketing Specialist", "Marketing", 60000, "2022-01-05"),
    (5, "Eva Green", "Software Engineer", "IT", 85000, "2020-11-11")
]

cursor.executemany("""
INSERT INTO employee (id, name, position, department, salary, join_date)
VALUES (?, ?, ?, ?, ?, ?)
""", sample_data)

conn.commit()
conn.close()

print("Employee table created and populated with sample data!")

In [ ]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain.sql_database import SQLDatabase
from langchain_ollama import OllamaLLM

# Rebuild the SQLDatabaseChain class
SQLDatabaseChain.model_rebuild()

# Initialize database and LLM
db = SQLDatabase.from_uri("sqlite:///my_database.db")
llm = OllamaLLM(model="llama3.1")

# Create the SQL Database Chain
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

# Run a natural language query
response = db_chain.run("List all employees in the IT department earning more than 75000.")
print(response)

In [ ]:
pip install langchain==0.2.17

In [ ]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain.sql_database import SQLDatabase

# Initialize database connection
db = SQLDatabase.from_uri("sqlite:///my_database.db")

# Initialize Ollama LLM (updated import)
llm = OllamaLLM(base_url='http://localhost:11434', model="llama2") # Replace llama2 with your model if needed

# Create the SQL Database Chain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True) # Use from_llm

# Run a natural language query
try:
    response = db_chain.run("List all employees in the IT department earning more than 75000.")
    print(response)
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
from langchain_ollama import OllamaLLM

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.1")  # Replace with your Ollama model name

print("Chat with Ollama! Type 'exit' to end the chat.\n")

# Sample schema for SQL
schema = {
    "tables": [
        {"name": "users", "columns": ["id", "name", "email"]},
        {"name": "orders", "columns": ["id", "user_id", "product", "amount"]}
    ]
}

# Function to generate SQL query from prompt
def generate_sql(prompt, schema):
    query_prompt = f"Based on the schema: {schema}, create a SQL query: {prompt}"
    try:
        response = llm.invoke(query_prompt)
        return response
    except Exception as e:
        return f"Error: {e}"

# Start the chat loop
while True:
    user_input = input("You: ")
    
    if user_input.lower() == "exit":
        print("Ending the chat. Goodbye!")
        break

    # Generate SQL query based on the prompt
    sql_query = generate_sql(user_input, schema)
    print(f"Ollama: {sql_query}")

In [ ]:
pip uninstall colorlog

In [ ]:
from langchain_ollama import OllamaLLM

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.1")  # Replace with your Ollama model name

print("Chat with Ollama! Type 'exit' to end the chat.\n")

# Sample schema for SQL
schema = {
    "tables": [
        {"name": "trades", "columns": ["id", "trade_date", "symbol", "quantity", "price", "type"]},
        {"name": "trade_details", "columns": ["trade_id", "order_id", "executed_price", "execution_time"]}
    ]
}


# Function to generate SQL query from prompt
def generate_sql(prompt, schema):
    query_prompt = f"Based on the schema: {schema}, create a SQL query: {prompt}"
    try:
        response = llm.invoke(query_prompt)
        return response
    except Exception as e:
        return f"Error: {e}"

# Start the chat loop
while True:
    user_input = input("\n\n\nYou: ")
    
    if user_input.lower() == "exit":
        print("Ending the chat. Goodbye!")
        break

    # Generate SQL query based on the prompt
    sql_query = generate_sql(user_input, schema)
    print(f"Ollama: {sql_query}")

In [ ]:
from langchain_ollama import OllamaLLM
import logging

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.1")  # Replace with your Ollama model name

# Set up logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s: %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S'
)

print("Chat with Ollama! Type 'exit' to end the chat.\n")

# Sample schema for SQL
schema = {
    "tables": [
        {"name": "users", "columns": ["id", "name", "email"]},
        {"name": "orders", "columns": ["id", "user_id", "product", "amount"]}
    ]
}

# Function to generate SQL query from prompt
def generate_sql(prompt, schema):
    query_prompt = f"Based on the schema: {schema}, create a SQL query: {prompt}"
    try:
        response = llm.invoke(query_prompt)
        return response
    except Exception as e:
        logging.error(f"Error: {e}")
        return None

# Start the chat loop
while True:
    user_input = input("You: ")
    
    if user_input.lower() == "exit":
        logging.info("Ending the chat. Goodbye!")
        break

    # Generate SQL query based on the prompt
    sql_query = generate_sql(user_input, schema)
    if sql_query:
        logging.info(f"Ollama: {sql_query}")

In [ ]:
from langchain_ollama import OllamaLLM
import logging

# Initialize the Ollama LLM
llm = OllamaLLM(model="llama3.1")  # Replace with your Ollama model name

# Set up logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s: %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S'
)

print("Chat with Ollama! Type 'exit' to end the chat.\n")

# Sample schema for SQL
schema = {
    "tables": [
        {"name": "users", "columns": ["id", "name", "email"]},
        {"name": "orders", "columns": ["id", "user_id", "product", "amount"]}
    ]
}

# Maintain conversation history
conversation_history = []

# Function to generate SQL query from prompt
def generate_sql(prompt, schema, history):
    # Combine history with the new prompt
    full_prompt = (
        f"Based on the schema: {schema}, "
        f"here is the previous conversation history:\n{history}\n\n"
        f"Now, answer this: {prompt}"
    )
    try:
        response = llm.invoke(full_prompt)
        return response
    except Exception as e:
        logging.error(f"Error: {e}")
        return None

# Start the chat loop
while True:
    user_input = input("You: ")
    
    if user_input.lower() == "exit":
        logging.info("Ending the chat. Goodbye!")
        break

    # Add user input to history
    conversation_history.append(f"You: {user_input}")
    
    # Generate SQL query based on the prompt
    sql_query = generate_sql(user_input, schema, "\n".join(conversation_history))
    
    if sql_query:
        conversation_history.append(f"Ollama: {sql_query}")
        logging.info(f"Ollama: {sql_query}")

Chat with Ollama! Type 'exit' to end the chat.

You:  find order of Govind

2024-12-19 11:15:09 - INFO: HTTP Request: POST http://127.0.0.1:11434/api/generate "HTTP/1.1 200 OK"
2024-12-19 11:15:17 - INFO: Ollama: To find the order of Govind, I need to know which user has the name "Govind" and then retrieve their associated orders.

After checking the database schema, I see that there is a table named 'users' with columns ['id', 'name', 'email'] and another table named 'orders' with columns ['id', 'user_id', 'product', 'amount'].

To find Govind's order, I'll need to look up Govind in the users table by name ('name'), then look up their id, and finally retrieve all orders associated with that user id from the orders table.

Here is the query:

1. Select user id where user's name = "Govind"
SELECT `id` FROM `users` WHERE `name` LIKE 'Govind'

2. Once we get Govind's user id, we can select all his orders
SELECT * FROM `orders` WHERE `user_id` = <get Govind's user id from step 1>

You:  give me name of users whose has highest order amount

2024-12-19 11:22:17 - INFO: HTTP Request: POST http://127.0.0.1:11434/api/generate "HTTP/1.1 200 OK"
2024-12-19 11:22:31 - INFO: Ollama: To find the name of the user who has the highest order amount, we need to follow these steps:

1. Select all orders with their corresponding `user_id` and calculate the total amount for each order.
2. Group the orders by `user_id` and select the maximum amount for each group.
3. Join the `users` table with the result from step 2 to get the name of the user who has the highest order amount.

Here are the steps:

1. Select all orders, calculate total amount, and get user id
```sql
SELECT
    o.user_id,
    SUM(o.amount) AS total_amount
FROM
    `orders` o
GROUP BY
    o.user_id
```

2. Join users table with result from step 1 to get name of the user who has highest order amount
```sql
SELECT
    u.name, u.id
FROM
    `users` u
JOIN (
    SELECT
        user_id,
        MAX(total_amount) AS max_amount
    FROM
        (SELECT
            o.user_id,
            SUM(o.amount) AS total_amount
        FROM
            `orders` o
        GROUP BY
            o.user_id) t1
    GROUP BY
        user_id
) t2 ON u.id = t2.user_id AND u.id = t2.max_amount
```
This will give us the name of the user who has the highest order amount.

Note: The SQL query above assumes that we only want to consider users who have placed orders. If a user has not placed any orders, they will not be included in the result.

You:  any other way to achieve same result

2024-12-19 11:23:04 - INFO: HTTP Request: POST http://127.0.0.1:11434/api/generate "HTTP/1.1 200 OK"
2024-12-19 11:23:16 - INFO: Ollama: Yes, there is another way to achieve the same result using subqueries or window functions.

Here are two alternative queries:

**Method 1: Using a Subquery**

```sql
SELECT
    u.name, u.id
FROM
    `users` u
WHERE
    u.id IN (
        SELECT
            user_id
        FROM
            (SELECT
                o.user_id,
                SUM(o.amount) AS total_amount
            FROM
                `orders` o
            GROUP BY
                o.user_id) t1
        WHERE
            total_amount = (SELECT MAX(total_amount) FROM (SELECT
                o.user_id,
                SUM(o.amount) AS total_amount
            FROM
                `orders` o
            GROUP BY
                o.user_id) t1)
    )
```

**Method 2: Using Window Functions**

```sql
WITH ranked_orders AS (
    SELECT
        o.user_id,
        SUM(o.amount) AS total_amount,
        RANK() OVER (ORDER BY SUM(o.amount) DESC) AS rank
    FROM
        `orders` o
    GROUP BY
        o.user_id
)
SELECT
    u.name, u.id
FROM
    `users` u
JOIN ranked_orders ro ON u.id = ro.user_id
WHERE
    ro.rank = 1
```

Both of these queries will give you the name and ID of the user who has the highest order amount.

You:  will this command work on ibm db2

2024-12-19 11:23:40 - INFO: HTTP Request: POST http://127.0.0.1:11434/api/generate "HTTP/1.1 200 OK"
2024-12-19 11:23:56 - INFO: Ollama: The SQL commands I provided earlier use various features that might not be supported or might behave differently in IBM DB2.

Here are some potential issues:

1. `RANK()` function: This is a window function available in many databases, but its behavior and syntax might differ in DB2.
2. Subqueries with aggregate functions: While subqueries with aggregate functions work in most databases, they might not be supported or may behave differently in DB2.
3. Common Table Expressions (CTEs): The WITH clause I used in Method 2 is a CTE feature available in many databases, but its syntax and behavior might vary in DB2.

However, the basic SQL queries should still work on IBM DB2, as they are based on standard SQL syntax.

Here's an updated answer:

The original query that I provided earlier:
```sql
SELECT
    u.name, u.id
FROM
    `users` u
JOIN (
    SELECT
        user_id,
        MAX(total_amount) AS max_amount
    FROM
        (SELECT
            o.user_id,
            SUM(o.amount) AS total_amount
        FROM
            `orders` o
        GROUP BY
            o.user_id) t1
    GROUP BY
        user_id
) t2 ON u.id = t2.user_id AND u.id = t2.max_amount
```
This query should work on IBM DB2.

The other two queries I provided (Method 1 and Method 2) might require modifications to work correctly in DB2. For example, you might need to use a different syntax for the `RANK()` function or replace it with a `DENSE_RANK()` function, which is available in DB2.

If you encounter issues or unexpected behavior, I recommend testing these queries on a sample dataset using IBM DB2's built-in tools or SQL client, such as DB2 Control Center or DB2 CLP (Command-Line Processor).